.about {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.about-left {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: center;
}

.about-left img {
    width: 80%;
    margin: 10% 0;
}

.about-left h3 {
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
}