.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-left {
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.contact-right {
    width: 40%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.contact-text {
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.email-submit {
    width: 100%;
    margin-top: 20px;
}

.form-wrapper {
    margin: 0 10vw;
    width: 100%;
}

.form-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: rgb(156, 2, 87);
}


@media only screen and (max-width: 600px) {
    .contact-left {
        width: 100%;
        height: auto;
    }

    .contact-right {
        width: 100%;
        height: auto;
        margin: 60px;
    }

    .contact-text {
        font-size: 24px;
    }
}