.home {
    display: flex;
}

.home-left {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}

.home-right {
    width: 66%;
    flex-wrap: wrap;
    justify-content: center;
}

.pic-row {
    display: flex;
    justify-content: center;
}

img {
    background-size: cover;
    /* width: 30%; */
    margin: 3%;
    height: 40vh;
    width: 45%
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}