.home {
    display: flex;
}

.home-left {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}

.home-right {
    width: 66%;
    flex-wrap: wrap;
    justify-content: center;
}

.pic-row {
    display: flex;
    justify-content: center;
}

img {
    background-size: cover;
    /* width: 30%; */
    margin: 3%;
    height: 40vh;
    width: 45%
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-right {
        width: 100%;
    }
    .home-left {
        width: 100%;
        margin: 50px 0;
    }
    .home {
        flex-direction: column;
        justify-content: center;
    }
    img {
    background-size: cover;
    margin: 10px;
    /* height: 40vh; */
    height: 150px;
    width: 150px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */