.navbar {
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    justify-content: flex-end;
    float: right,
}

.logo img {
    height: 65px;
    position:absolute;
    left:0;
    top:0;
    margin-left: 0.5em;
}

.navbar-ul {
    display: flex;
    list-style: none;
}

.navbar-link {
  display: block;
  color: black;
  text-align: center,;
  padding: 8px 24px;
  text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
    color: maroon;
}